<section class="main-chatbox">
  <div class="chatbox g-flex">
    <div class="chatbox-input-wrap g-column">
      <div class="chatbox-input"
        contenteditable="true" spellcheck="true" tabindex="0"></div>
    </div>
    <ul class="chatbox-tool list-inline g-flex">
      <li class="chatbox-tool__item tool-emoji">
        <span class="iconfont icon">&#xe64b;</span>
      </li>
      <li class="chatbox-tool__item tool-attchment">
        <span class="iconfont icon">&#xe671;</span>
      </li>
      <li class="chatbox-tool__item tool-send">
        <a href="#">Send</a>
      </li>
    </ul>
  </div>
</section>
