<section class="main-contacts">
  <ul class="contacts-list list-inline">
    <li class="contact-item">
      <div class="contact-avatar">
        <%= gravatar_for @current_user %>
      </div>
      <span class="username">Towry Wang</span>
    </li>
    <li class="contact-item">
      <div class="contact-avatar">
        <%= gravatar_for @current_user %>
      </div>
      <span class="username">Towry Wang</span>
    </li>
  </ul>
</section>
