<% provide(:title, "Home") %>

<%= render 'layouts/global_bar' %>
<div class="container chat-main">
  <%= render 'main/contacts' %>
  <%= render 'main/chatbox' %>
  <%= render 'main/conversation' %>
</div>
