<% provide(:title, "Home") %>

<%= render 'layouts/global_bar' %>
<div class="container chat-main">
<% if logged_in? %>
  <%= render 'main/contacts' %>
<% end %>
  <div class="pannel">
    <%= render 'main/chatbox' %>
    <%= render 'main/conversation' %>
  </div>
</div>
