<li class="user-item media">
  <div class="media-left">
    <%= gravatar_for user, size: 50, class: "image is-64x64" %>
  </div>
  <div class="media-content">
    <%= link_to user.username, user, class: "user-name" %>
    <% if current_user.admin? %>
      <%= link_to 'delete', user, method: :delete, class: "admin-action",
                  data: { confirm: "You sure to delete #{user.username}?" } %>
    <% end %>
  </div>
</li>
