
body {
  background-color: $clr-bg;
  font-size: 16px;
  color: $clr-black;
  font-family: 'Lato', 'Neue Helvetica', Helvetica, Arial, sans-serif;
}

a {
  color: $clr-green;

  transition: color .3s ease;
}

a:hover {
  color: $clr-green-light;
}

a:active {
  color: $clr-green-light;
}

a:visited {
  color: $clr-green;
}
