
html, body {
  height: 100%;
  overflow-y: hidden;
}

.chat-main {
  position: relative;
  margin-top: rem(20px);
  width: rem(650px);
  margin-left: auto;
  margin-right: auto;


  .pannel {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.3);
    padding: rem(10px);
  }
}

.main-conversation {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
}

.conversation-wrap {
  background-color: #FFFFFF;
}
