<div class="global-bar">
  <nav class="navbar">
    <ul class="list--unstyled">
      <li class="navbar-menu">
        <%= link_to "Home", root_path, class: 'navbar-menu__link' %>
      </li>
    </ul>
  </nav>
</div>
